@font-face {
    font-family: "Russo Regular";
    src: url(RussoOne-Regular.woff) format("woff"), url(RussoOne-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "CodePro Bold";
    src: url(SourceCodePro-Bold.woff) format("woff"), url(SourceCodePro-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "CodePro Light";
    src: url(SourceCodePro-Light.woff) format("woff"), url(SourceCodePro-Light.woff2) format("woff2");
}

@font-face {
    font-family: "CodePro Medium";
    src: url(SourceCodePro-Medium.woff) format("woff"), url(SourceCodePro-Medium.woff2) format("woff2");
}

@font-face {
    font-family: "CodePro Regular";
    src: url(SourceCodePro-Regular.woff) format("woff"), url(SourceCodePro-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "CodePro SemiBold";
    src: url(SourceCodePro-SemiBold.woff) format("woff"), url(SourceCodePro-SemiBold.woff2) format("woff2");
}

