:root {
    --red: #9e2424;
    --red-gradient: linear-gradient(90deg, #171717 23.73%, #a82e2e 100%);
}

html {
    overflow-x: hidden;
    overflow-x: clip;
    font-family: "Source Regular";
}

body {
    overflow-x: hidden;
    overflow-x: clip;
    font-family: "Source Regular";
    background-size: contain;
    background-repeat: repeat;
   /*  border-image: linear-gradient(rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0.5)) 50%/50%;  */
   /*  border-image: fill 0 linear-gradient(hsl(0, 0%, 96%, 0.5), hsl(0, 0%, 96%, 0.5)); */
}

button {
    letter-spacing: inherit;
}

.centering {
    margin-inline: auto;
    width: min(100%, 1204px);
}

.animated-btn-1 {
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    transition: all 0.3s ease;
}

.animated-btn-1:is(:hover, :focus-visible, :active) {
    background-color: transparent;
}

.animated-btn-2 {
    border: 1px solid var(--red);
    background-color: var(--red);
    transition: all 0.3s ease;
    color: #fff;
}

.animated-btn-2:is(:hover, :focus-visible, :active) {
    background-color: transparent;
    color: var(--red);
}

.animated-btn-3 {
    border: 1px solid var(--red);
    color: var(--red);
    background-color: transparent;
    transition: all 0.3s ease;
}

.animated-btn-3:is(:hover, :focus-visible, :active) {
    background-color: var(--red);
    color: #fff;
}

.heading-large {
    --_heading-fs: 40px;
    font-size: var(--_heading-fs);
    font-family: "Russo Regular";
    font-weight: 400;
}

.homepage-link {
    display: block;
}

/* Header */

.header-main {
    --_top-line-fs: 18px;
    --_img-width: 228px;
}

.header-main__top-line {
    border-image: conic-gradient(var(--red) 0 0) fill 0/0/0 50vw;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--_top-line-fs);
    color: #fff;
    /*     user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; */
}

.header-main__top-line a {
    font-weight: 400;
}

.header-main__top-line div {
    font-weight: 400;
}

.location-svg-holder img {
    width: 25px;
    height: 25px;
}

.location-svg-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.header-main__nav-wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-logo {
    width: var(--_img-width);
    transition: opacity 1s ease-in-out;
}

/* .header-main-logo-small {
    width: 80px;
    display: none;
} */

.homepage-link:has(.header-main-logo-small) {
    width: 80px;
    display: none;
}

.header-main__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: opacity 1s ease-in-out;
}

.nav-main__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: var(--_top-line-fs);
}

.nav-main {
    z-index: 200;
}

header .arrow-li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
}

.arrow-li ul {
    position: absolute;
    top: 30px;
    left: 0;
    width: max-content;
    background-color: #fff;
    z-index: 2;
    border-top: 1px solid var(--red);
    display: none;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    font-size: 16px; 
}

.nav-popup .arrow-li {
    position: relative;
    width: max-content;
    padding-right: 1em;
    white-space: nowrap;
}

.nav-popup .arrow-li ul {
    position: static;
    border-top: none;
}

.arrow-li ul li:is(:hover, :focus-visible, :active) {
    color: #505050;
}

.arrow-li.rotated::before {
    transform: translateY(-50%) rotate(180deg);
}


.nav-main__ul a:is(:active) {
    color: var(--red);
}

.nav-popup a:is(:hover, :focus, :active) {
    color: #505050;
}

.nav-main__ul li:is(:hover, :focus, :active) {
    color: #505050;
}

.header-main__btn-group .header-btn {
    font-size: var(--_top-line-fs);
    padding: 0.5em 1em;
    cursor: pointer;
    width: max-content;
}

.header-main-burger {
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.header-small-menu-group {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header-main__btn-group-small {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-main__btn-group-small .header-svg {
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2px;
    cursor: pointer;
    border: 1px solid var(--red);
}

.header-svg svg {
    background-color: transparent;
}

.calculate-wrapper {
    border: 1px solid var(--red);
}

.free-call-wrapper:is(:hover, :focus-visible, :active) path {
    fill: var(--red);
}

.free-call-wrapper:is(:hover, :focus-visible, :active) {
    background-color: #fff;
}

.calculate-wrapper:is(:hover, :focus-visible, :active) {
    background-color: var(--red);
}

.calculate-wrapper:is(:hover, :focus-visible, :active) path {
    fill: #fff;
}

.free-call-wrapper {
    background-color: var(--red);
}

/* Banner Homepage */

.home-banner {
    --_heading-fs: 48px;
    --_fx-gr-fs: 24px;
    --_form-heading-fs: 24px;
    --_font-input-fs: 18px;
    --_img-width: 703px;
    --_img-height: 498px;
    --_content-width: 838px;
    --_input-wrapper-width: 694px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 350px;
    overflow: visible;
    z-index: 30;
}

.home-banner__content {
    padding: 30px 0 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.home-banner__heading {
    font-family: "Russo Regular";
    letter-spacing: 1px;
    word-spacing: normal;
    font-size: var(--_heading-fs);
    margin-bottom: 20px;
    line-height: 1.2;
    width: 105%;
    overflow-x: visible;
}

.banner-img-wrapper {
    position: relative;
    overflow-x: visible;
    z-index: 10;
    width: var(--_img-width);
    height: var(--_img-height);
}

.red-text {
    color: var(--red);
    letter-spacing: inherit;
    font-size: inherit;
}

.banner-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.high-rez {
    z-index: 2;
}

.low-rez {
    z-index: 1;
    left: 3px;
}

.home-banner__flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: var(--_fx-gr-fs);
    font-family: "Source Regular";
    width: 100%;
}

.home-banner__flex-subgroup {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.home-banner__flex-group img {
    width: 30px;
    height: 30px;
}

/* Banner Bottom */

.form-title {
    font-size: var(--_form-heading-fs);
    margin-bottom: 20px;
    word-wrap: balance;
}

.input-wrapper {
    width: var(--_input-wrapper-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.policy-notice {
    color: var(--light_grey, #b2b2b2);
    font-size: 12px;
    font-weight: 400;
}

.input-wrapper button {
    padding: 0.8em 1.2em;
    cursor: pointer;
    width: fit-content;
    font-size: var(--_font-input-fs);
    flex: 1;
}

.input-wrapper input {
    padding: 0.8em 1.2em;
    color: #505050;
    font-size: var(--_font-input-fs);
    max-width: 26%;
    background-color: transparent;
    border-radius: 1px;
    border: 1px solid var(--light_grey, #B2B2B2); 
}

.input-wrapper input:is(:hover, :focus, :active) {
    --light_grey: #000;
    color: #000;
    outline: none;
}

.social-icons-flex-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    z-index: 10;
}

.social-icons-flex-subgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    letter-spacing: normal;
}

.social-icons-flex-subgroup img {
    width: 45px;
    height: 45px;
}

/* Popup menu */

.popup-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 10;
    color: white;
    overflow-y: auto;
    transform: translateX(100%);
    z-index: 50;
}

.popup-menu {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 30px;
    width: min(100%, 400px);
    background-color: #fff;
    min-height: 100vh;
    min-height: 100dvh;
    color: #000;
    transform: translateX(100%);
    transition: transform 1s ease;
}

.popup-menu__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup-logo {
    width: 228px;
}

.close-burger-menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.popup-btn-group {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 15px;
}

.popup-btn {
    font-size: 18px;
    padding: 0.5em 1em;
    cursor: pointer;
    width: max-content;
    width: 100%;
}

.nav-popup {
    font-size: 18px;
}

.nav-popup__ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Footer */

.footer-primary {
    --_heading-fs: 26px;
    --_text-fs: 20px;
    --_contacts-fs: 28px;
    --_btn-fs: 18px;
    --_fine-print-fs: 16px;
    --_logo-width: 250px;
    --_padding-block: 100px 80px;
    --_flex-padding: 50px;
    --_footer-top-margin-bottom: 80px;
    --_services-li-width: 260px;
    --_h3-margin-bottom: 30px;

    padding-inline: 20px;
    color: #fff;
    background-color: #171717;
    padding-block: var(--_padding-block);
    border-image: conic-gradient(#171717 0 0) fill 0/0/0 50vw;
    display: flex;
    flex-direction: column;
}

.footer-top-flex {
    margin-bottom: var(--_footer-top-margin-bottom);
    display: flex;
    align-self: center;
    /*     gap: calc(var(--_flex-padding) * 2); */
}

.footer__flex-top-col-1 {
    padding-right: var(--_flex-padding);
    border-right: 1px solid #505050;
}

.footer__flex-top-col-2 {
    padding-inline: calc(var(--_flex-padding) * 1);
}

.footer__flex-top-col-3 {
    padding-left: var(--_flex-padding);
    border-left: 1px solid #505050;
}

.footer-top-flex h3 {
    color: #fff;
    font-family: "Source Regular";
    font-size: var(--_heading-fs);
    font-weight: 600;
}

.footer-bottom {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #505050;
}

.footer-bottom p {
    display: block;
    font-size: var(--_fine-print-fs);
}

.footer-bottom a {
    font-size: var(--_fine-print-fs);
    transition: color 0.3s ease;
    user-select: none;
    cursor: pointer;
}
.footer-bottom a:is(:hover, :focus, :active) {
    color: #505050;
}


.footer__flex-top-col-1 h3 {
    margin-bottom: var(--_h3-margin-bottom);
}

.footer__flex-top-col-2 h3 {
    margin-bottom: var(--_h3-margin-bottom);
}

.footer__flex-top-col-3 h3 {
    margin-bottom: var(--_h3-margin-bottom);
}

.footer__links-wrapper a {
    font-size: var(--_contacts-fs);
    display: block;
}

.logo-footer {
    width: var(--_logo-width);
    margin-inline: auto;
}

.nav-footer__ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-footer__ul li a, 
.nav-services__ul li a {
    font-size: var(--_text-fs);
    transition: color 0.3s ease;
}

.nav-footer__ul li a:is(:hover, :focus, :active), 
.nav-services__ul li a:is(:hover, :focus, :active) {
    color: #B2B2B2;
}

.nav-services__ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.nav-services__ul > * {
    max-width: var(--_services-li-width);
    font-size: var(--_text-fs);
    line-height: 1.2;
}

.footer__social-links {
    margin-block: 30px;
    display: flex;
    gap: 10px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.footer__social-link img {
    display: block;
    width: 100%;
}

.footer__calc-btn {
    background-color: transparent;
    font-size: var(--_btn-fs);
    color: inherit;
    width: max-content;
    text-align: center;
    padding: 0.8em 0.5em;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid var(--white, #fff);
}

.footer__calc-btn:is(:hover, :focus, :active) {
    border-color: var(--red);
}

.footer__flex-contacts {
    display: flex;
    flex-direction: column;
}

.logo-footer-wrapper {
    min-width: var(--_logo-width);
}

.footer__tel {
    margin-bottom: 0.5em;
}

/* Services Section */

.services-section {
    --_padding-block: 50px 150px;
    --_flex-gap: 20px;
    --_heading-fs: 23px;
    --_fine-print-fs: 16px;
    --_btn-fs: 18px;
    --_card-padding: 20px;
    --_flex-cols: 4;
    --_flex-gaps: 3;
    --_image-space: 82px;

    padding-block: var(--_padding-block);
    padding-inline: 20px;
}

.serv__flex-group {
    display: flex;
    gap: var(--_flex-gap);
    flex-wrap: wrap;
}

.serv__card {
    border-top: 1px solid var(--red);
    padding: var(--_card-padding);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - var(--_flex-gap) * var(--_flex-gaps)) / var(--_flex-cols));
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 20px 0px rgba(137, 141, 159, 0.40); 
}

.serv__card.last-card {
    width: min(868px, 100%);
}

.serv__card h3 {
    font-size: var(--_heading-fs);
    font-family: "Source Regular";
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 10px;
}

.serv__card p {
    margin-bottom: var(--_image-space);
    font-size: var(--_fine-print-fs);
}

.serv__card.last-card p {
    margin-bottom: 10px;
    width: 470px;
}

.serv__find-more-btn {
    font-size: var(--_btn-fs);
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    margin-top: auto;
}

.serv__card.last-card .serv__find-more-btn {
    width: 75%;
}

.serv-img {
    position: absolute;
    left: 140px;
    bottom: 20%;
    object-fit: cover;
    height: 130px;
    object-position: left center;
}

.serv__card.last-card .serv-img {
    height: 160%;
    z-index: 12;
    left: auto;
    bottom: -50%;
    right: 10px;
}

/* Steps Section */

.steps-section {
    --_margin-bottom: 50px;
    --_svg-size: 40px;
    --_flex-fs: 20px;
    --_flex-height: 70px;
    --_flex-width: 240px;
}

.steps-section h2 {
    margin-bottom: var(--_margin-bottom);
    padding-inline: 20px;
}

.steps-wrapper {
    display: flex;
/*     margin-bottom: 100px; */
    flex-wrap: wrap;
}

.step-flex-element {
    height: var(--_flex-height);
    flex-basis: 100%;
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #fff;
    font-size: var(--_flex-fs);
    gap: 10px;
    max-width: var(--_flex-width);
    margin-bottom: 50px;
}

.step-flex-element::before {
    content: '';
    position: absolute;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
    right: 0;
    width: 700px;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(90deg, #171717 40.73%, #A82E2E 100%);
}

.step-flex-element:nth-child(1) {
    z-index: 5;
}

.step-flex-element:nth-child(2) {
    z-index: 4;
}
.step-flex-element:nth-child(3) {
    z-index: 3;
}

.step-flex-element:nth-child(4) {
    z-index: 2;
}
.step-flex-element:nth-child(5) {
    z-index: 1;
}

.step-flex-element img {
    width: var(--_svg-size);
    height: var(--_svg-size);
}

/* Reviews Section */

.reviews-section {
    --_heading-fs: 40px;
    --_margin-bottom: 50px;
    --_carousel-margin-bottom: 30px;
    --_btn-fs: 18px;
    --_review-fs: 16px;
    --_gaps: 1;
    --_slides: 2;

    padding-block: 150px 150px;
    padding-inline: 20px;
}

.reviews-section > h2 {
    margin-bottom: var(--_margin-bottom);
}

/* Carousel */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: var(--_carousel-margin-bottom);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    box-shadow: 0px 1px 20px 0px rgba(137, 141, 159, 0.40), inset 0px 1px 20px 0px rgba(137, 141, 159, 0.05); 
}

.carousel-track-container {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
    height: 100%;
}

.carousel-slide {
    min-width: calc((100% - 20px * var(--_gaps)) / var(--_slides));
    height: 100%;
}

.carousel-slide img {
    width: 100%;
}

.carousel-controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.carousel-btn {
    border: none;
    cursor: pointer;
    width: 47px;
    height: 50px;
    background-color: var(--red);
    transition: all 0.3s ease;
}

.carousel-btn svg, 
.carousel-btn rect,
.carousel-btn path {
    transition: inherit;
}

.carousel-btn svg {
    border: 1px solid var(--red);
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-btn rect {
    height: 100%;
    width: 100%;
}

.carousel-btn:is(:hover, :focus, :active) svg {
    border: 1px solid var(--red);
}

.carousel-btn:is(:hover, :focus, :active) svg rect {
    fill: #fff;
}

.carousel-btn:is(:hover, :focus, :active) {
    background-color: #fff;
}

.carousel-btn:is(:hover, :focus, :active) svg path {
    stroke: var(--red);
}

.carousel-link {
    display: block;
    font-size: var(--_btn-fs);
    padding: 15px 20px;
}

.review {
    padding: 20px;
    font-size: var(--_review-fs);
    letter-spacing: normal;
    color: #171717;
    background-color: #fff;
    border-bottom: 1px solid var(--red);
    height: 100%;
    
}

.review-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.review-name-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.review-name-wrapper img {
    width: 40px;
    height: 40px;
}

.review-stars-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.review-stars-wrapper img {
    width: 20px;
    height: 20px;
}

.slide-video img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.slide-video {
    border-image: conic-gradient(rgba(137, 141, 159, 0.20) 0 0) fill 0/0/0 100vw;
}

.slide-video a {
    display: block;
    height: 100%;
}

/* About Us Section */

.about-us-section {
    --_heading-fs: 40px;
    --_flex-margin-block: 50px;
    --_svg-size: 40px;
    --_gap: 20px;
    --_subheading-fs: 20px;
    --_text-fs: 16px;
    --_btn-fs: 18px;
    --_svg-mb: 10px;
    --_cols: 4;
    --_gaps: 3;

    min-height: 731px;
    position: relative;
    margin-bottom: 50px;
    padding-inline: 20px;
    padding-block: 170px 100px;
    color: #fff;
}

.about-us-section:before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    left: 50%;
    translate: -50%;
    width: 100vw;
    border-image: linear-gradient(180deg, rgba(23, 23, 23, 0.50) -5.47%, rgba(23, 23, 23, 0.90) 16.04%, rgba(23, 23, 23, 0.95) 37.55%, #171717 59.06%, #171717 80.57%) 50%/50%; 
    clip-path: polygon(61% 11%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.about-us-section h2 {
    font-size: var(--_heading-fs);
    font-family: "Russo Regular";
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.about-us-flex-group {
    margin-block: var(--_flex-margin-block);
    display: flex;
    flex-wrap: wrap;
    gap: var(--_gap);
}

.about__flex-item {
    flex: 1 1 100%;
    max-width: calc((100% - var(--_gap) * var(--_gaps)) / var(--_cols));
}

.about-us-svg {
    width: var(--_svg-size);
    height: var(--_svg-size);
}

.about__flex-item h3 {
    font-size: var(--_subheading-fs);
    font-weight: 600;
    line-height: 115%;
    font-family: 'Source Regular';
    color: inherit;
    margin-block: var(--_svg-mb);
}

.about__flex-item p {
    font-size: var(--_text-fs);
}

.about-us-btn {
    font-size: var(--_btn-fs);
    padding: 0.8em;
    width: min(100%, 229px);
    text-align: center;
    margin-inline: auto;
    display: block;
}

.about-us-btn:is(:hover, :focus-visible, :active) {
    border: 1px solid #fff;
}

/* Letter Section */

.letters-section {
    --_margin-bottom: 50px;
    --_carousel-margin-bottom: 30px;
    --_gaps: 3;
    --_slides: 4;

    padding-block: 90px 140px;
    padding-inline: 20px;
}

.letters-section > h2 {
    margin-bottom: var(--_margin-bottom);
}

.letters-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: var(--_carousel-margin-bottom);
}

.letters-carousel-track-container {
    overflow: hidden;
    position: relative;
}

.letters-carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.letters-carousel-slide {
    min-width: calc((100% - 20px * var(--_gaps)) / var(--_slides));
}

.letters-carousel-slide img {
    width: 100%;
    cursor: pointer;
}

.letters-carousel-btn-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.letters-carousel-btn {
    border: none;
    cursor: pointer;
    width: 47px;
    height: 50px;
    transition: all 0.3s ease;
    background-color: var(--red);
}

.letter {
    background-color: #fff;
    border-bottom: 1px solid var(--red);
    height: 100%;
}

.letters-carousel-btn svg, 
.letters-carousel-btn rect,
.letters-carousel-btn path {
    transition: inherit;
}

.letters-carousel-btn svg {
    border: 1px solid var(--red);
    height: 100%;
    width: 100%;
}

.letters-carousel-btn rect {
    height: 100%;
    width: 100%;
}

.letters-carousel-btn:is(:hover, :focus, :active) svg {
    border: 1px solid var(--red);
}

.letters-carousel-btn:is(:hover, :focus, :active) {
    background-color: #fff;
}

.letters-carousel-btn:is(:hover, :focus, :active) svg rect {
    fill: #fff;
}

.letters-carousel-btn:is(:hover, :focus, :active) svg path {
    stroke: var(--red);
}

/* Webform Section */

.webform-section {
    --_heading-fs: 40px;
    --_subheading-fs: 24px;
    --_form-fs: 16px;
    --_fine-print-fs: 14px;
    --_btn-fs: 16px;
    --_flex-gap: 20px;
    --_btn-width: 308px;

    position: relative;
    padding-block: 100px;
    color: #fff;
    padding-inline: 20px;
}

.webform-section:before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    left: 50%;
    translate: -50%;
    width: 100vw;
    border-image: linear-gradient(180deg, rgba(23, 23, 23, 0.50) -5.47%, rgba(23, 23, 23, 0.90) 16.04%, rgba(23, 23, 23, 0.95) 37.55%, #171717 59.06%, #171717 80.57%) 50%/50%; 
}

.webform-section > h2 {
    color: inherit;
    font-family: "Russo Regular";
    font-size: var(--_heading-fs);
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    word-wrap: balance;
}

.form-subheading {
    font-size: var(--_subheading-fs);
    text-align: center;
    word-wrap: balance;
}

.policy-consent {
    font-size: var(--_fine-print-fs);
    text-align: center;
    margin-inline: auto;
    color: #B2B2B2;
    display: block;
}

.contact-webform {
    display: flex;
    gap: var(--_flex-gap);
    align-items: flex-start;
    padding-block: 10px;
}

.contact-webform input {
    flex: 1 1 100%;
    font-size: var(--_form-fs);
    padding: 1em 0.8em;
    background-color: transparent;
    border: 1px solid #B2B2B2;
    color: #fff;
}

.contact-webform input:is(:hover, :focus, :active) {
    border-radius: 0px;
}

.contact-webform input::placeholder {
    color: #B2B2B2;
}

.submit-btn {
    padding: 1em 0.8em;
    cursor: pointer;
    width: var(--_btn-width);
    flex-shrink: 0;
    font-size: var(--_btn-fs);
}

.submit-btn:is(:hover, :focus-visible, :active) {
    border-color: #fff;
}

/* Accordion Section */

.accordion-section {
    --_heading-fs: 40px;
    --_margin-block: 150px 150px;
    --_heading-margin-bottom: 30px;
    --_question-fs: 20px;
    --_answer-fs: 18px;
    --_svg-size: 16px;
    --_grid-gap: 3vw;
    --_item-padding-block: 20px;
    --_img-width: 918px;
    --_img-height: 520px;


    padding-inline: 20px;
    margin-block: var(--_margin-block);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: var(--_grid-gap);
    position: relative;
    overflow: visible;
    z-index: 1;
}

.accordion__img-wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    height: var(--_img-height);
    overflow: visible;
}

.accordion-bg-img__mobile {
    display: none;
    width: var(--_img-width);
    height: var(--_img-height);
    object-fit: cover;
    object-position: center;
}

.accordion > h2 {
    font-family: "Russo Regular";
    font-size: var(--_heading-fs);
    font-weight: 400;
    margin-bottom: var(--_heading-margin-bottom);
    word-wrap: balance;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #B2B2B2;
    gap: 0.5em;
}

.accordion-header h3 {
    font-size: var(--_question-fs);
    font-weight: 600; 
    font-family: "Source Regular";
    padding-block: var(--_item-padding-block);
}

.accordion-content {
    padding-top: var(--_item-padding-block);
    font-size: var(--_answer-fs);
    font-weight: 400; 
}

.accordion-svg {
    width: var(--_svg-size);
    height: var(--_svg-size);
}

.accordion-svg-hidden {
    display: none;
}

/* Car Banner Section */

.car-banner-section .social-icons-flex-group {
    display: none;
}

.car-banner-section {
    --_banner-margin-top: 50px;
    --_grid-group-margin-block: 100px 100px;
    --_heading-fs: 48px;
    --_heading-width: 884px;
    --_subtitle-fs: 24px;
    --_subtitle-width: max-content;
    --_grid-group-fs: 18px;
    --_grid-group-width: 694px;

    position: relative;
    margin-top: var(--_banner-margin-top);
    padding-inline: 20px;
}

.car-banner-bg {
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.car-banner__heading {
    font-size: var(--_heading-fs); 
    font-family: "Russo Regular";
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: var(--_heading-width);
    margin-bottom: 20px;
}

.car-banner__subheading-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--_subtitle-fs);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    width: var(--_subtitle-width);
}

.car-banner__subheading-wrapper h3 {
    font-size: inherit;
    font-weight: 400;
}

.car-banner__subheading-wrapper img {
    width: 30px;
    height: 30px;
}

.car-banner__grid-group {
    display: grid;
    gap: 20px;
    margin-block: var(--_grid-group-margin-block);
    font-size: var(--_grid-group-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
}

.car-banner__flex-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 1px solid var(--red);
    padding-left: 10px;
}

.car-banner__flex-group img {
    width: 30px;
    height: 30px;
}

/* Oversized Cargo Section */

.oversized-cargo-section {
    --_heading-width: 890px;
    --_grid-group-width: 870px;
    --_img-width: 904px;
    --_img-height: 677px;
    --_img-offset-left: 743px;
    --_img-offset-top: -160px;
}

.oversized-cargo-section .car-banner__grid-group {
    width: var(--_grid-group-width);
    grid-template-columns: repeat(4, 1fr);
}

.oversized-cargo-section .car-banner-bg {
    top: var(--_img-offset-top);
    left: var(--_img-offset-left);
    width: var(--_img-width);
    height: var(--_img-height);
}

.oversized-cargo-section .car-banner__heading {
    width: var(--_heading-width);
}

/* Seacargo Section */ 

.seacargo-section {
    --_heading-width: 870px;
    --_grid-group-width: 100%;
    --_img-width: 682px;
    --_img-height: 333px;
    --_img-offset-left: 872px;
    --_img-offset-top: -48px;

    --_flex-group-gap: 10px;
    --_grid-subheading-fs: 22px;
}

.seacargo__grid-subheading {
    font-size: var(--_grid-subheading-fs);
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 5px;
}

.seacargo-section .car-banner__flex-group {
    gap: var(--_flex-group-gap);
}

.seacargo-section .car-banner__subheading-wrapper {
    align-items: flex-start;
    width: var(--_heading-width);
}

.seacargo-section .car-banner__grid-group {
    width: var(--_grid-group-width);
    grid-template-columns: repeat(4, 1fr);
}

.seacargo-section .car-banner-bg {
    top: var(--_img-offset-top);
    left: var(--_img-offset-left);
    width: var(--_img-width);
    height: var(--_img-height);
}

.seacargo-section .car-banner__heading {
    width: var(--_heading-width);
}

/* Sea-Rus-Bel Section */ 

.sea-rus-bel-section {
    --_heading-width: 963px;
    --_grid-group-width: 100%;
    --_img-width: 582px;
    --_img-height: 364px;
    --_img-offset-left: 904px;
    --_img-offset-top: -55px;
    --_grid-cols: 4;

    --_flex-group-gap: 10px;
    --_grid-subheading-fs: 22px;
}

.seacargo__grid-subheading {
    font-size: var(--_grid-subheading-fs);
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 5px;
}

.sea-rus-bel-section .car-banner__flex-group {
    gap: var(--_flex-group-gap);
}

.sea-rus-bel-section .car-banner__subheading-wrapper {
    align-items: flex-start;
    width: var(--_heading-width);
}

.sea-rus-bel-section .car-banner__grid-group {
    width: var(--_grid-group-width);
    grid-template-columns: repeat(var(--_grid-cols), 1fr);
}

.sea-rus-bel-section .car-banner-bg {
    top: var(--_img-offset-top);
    left: var(--_img-offset-left);
    width: var(--_img-width);
    height: var(--_img-height);
}

.sea-rus-bel-section .car-banner__heading {
    width: var(--_heading-width);
}

/* Turnkey Delivery Section */

.turnkey-delivery-section {
    --_heading-width: 884px;
    --_grid-group-width: 894px;
    --_img-width: 769px;
    --_img-height: 575px;
    --_img-offset-left: 801px;
    --_img-offset-top: -89px;
    --_grid-cols: 4;

    --_flex-group-gap: 10px;
    --_grid-subheading-fs: 22px;
}

.seacargo__grid-subheading {
    font-size: var(--_grid-subheading-fs);
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 5px;
}

.turnkey-delivery-section .car-banner__flex-group {
    gap: var(--_flex-group-gap);
}

.turnkey-delivery-section .car-banner__subheading-wrapper {
    align-items: flex-start;
    width: var(--_heading-width);
}

.turnkey-delivery-section .car-banner__grid-group {
    width: var(--_grid-group-width);
    grid-template-columns: repeat(var(--_grid-cols), 1fr);
}

.turnkey-delivery-section .car-banner-bg {
    top: var(--_img-offset-top);
    left: var(--_img-offset-left);
    width: var(--_img-width);
    height: var(--_img-height);
}

.turnkey-delivery-section .car-banner__heading {
    width: var(--_heading-width);
}

/* Sea China Section */

.sea-china-section {
    --_heading-width: 881px;
    --_grid-group-width: 100%;
    --_img-width: 797px;
    --_img-height: 446px;
    --_img-offset-left: 808px;
    --_img-offset-top: -131px;
    --_grid-cols: 4;

    --_flex-group-gap: 10px;
    --_grid-subheading-fs: 22px;
}

.seacargo__grid-subheading {
    font-size: var(--_grid-subheading-fs);
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 5px;
}

.sea-china-section .car-banner__flex-group {
    gap: var(--_flex-group-gap);
}

.sea-china-section .car-banner__subheading-wrapper {
    align-items: flex-start;
    width: var(--_heading-width);
}

.sea-china-section .car-banner__grid-group {
    width: var(--_grid-group-width);
    grid-template-columns: repeat(var(--_grid-cols), 1fr);
}

.sea-china-section .car-banner-bg {
    top: var(--_img-offset-top);
    left: var(--_img-offset-left);
    width: var(--_img-width);
    height: var(--_img-height);
}

.sea-china-section .car-banner__heading {
    width: var(--_heading-width);
}

/* Carhauler Section */

.hauler-banner .social-icons-flex-group {
    display: none;
}

.hauler-banner {
    --_heading-width: 884px;
    --_grid-group-width: 694px;
    --_img-width: 777px;
    --_img-height: 569px;
    --_img-offset-left: 824px;
    --_img-offset-top: 0px;

    position: relative;
    margin-top: var(--_banner-margin-top);
    padding-inline: 20px;
}

.hauler-banner-bg {
    top: var(--_img-offset-top);
    left: var(--_img-offset-left);
    width: var(--_img-width);
    height: var(--_img-height);
}

.hauler-banner__heading {
    width: var(--_heading-width);
    margin-bottom: 20px;
}

.hauler__subheading-wrapper {
    width: var(--_subtitle-width);
}

.hauler-banner__grid-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block: var(--_grid-group-margin-block);
    width: var(--_grid-group-width);
}

/* Calculate Price Section */

.price-calc-section {
    --_title-margin-block: 50px;
    --_title-fs: 24px;
    --_grid-group-fs: 20px;
    --_svg-size: 40px;
    --_col-width: 250px;

    padding-inline: 20px;
}

.price-calc-title {
    margin-block: var(--_title-margin-block);
    font-family: inherit;
}

.h3-price-title {
    font-family: "Source Regular";
    font-size: var(--_title-fs);
    font-weight: 600; 
    margin-bottom: 20px;
}

.price-calc__grid-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--_col-width), 1fr));
    gap: 10px;
}

.price-calc__flex-group {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--_grid-group-fs);
    font-weight: 600; 
}

.price-calc__flex-group img {
    width: var(--_svg-size);
    height: var(--_svg-size);
}

/* Calculator Section */

.calculator-section {
    --_tab-fs: 18px;
    --_title-fs: 20px;
    --_field-fs: 16px;
    --_btn-fs: 18px;
    --_subfield-fs: 12px;
    --_margin-bottom: 150px;
    --_flex-gap: 20px;

    margin-bottom: var(--_margin-bottom);
    padding-inline: 20px;
}

.calc__tab-wrapper {
    font-size: var(--_tab-fs);
    display: flex;
    gap: var(--_flex-gap);
    color: #505050;
}

.calc__step {
    padding: 10px 20px;
    background-color: rgb(178, 178, 178);
    z-index: -1;
    opacity: 0.3;
}

.calc__current-step {
    color: #000;
    background-color: #F8F8F8;
    z-index: 1;
    opacity: 1;
}

.quiz-wrapper {
    padding: 50px;
    background-color: #F8F8F8;

    box-shadow: 0px 1px 20px 0px rgba(137, 141, 159, 0.40);
}

.quiz-heading {
    font-size: var(--_title-fs);
    font-weight: 600; 
    font-family: inherit;
    margin-bottom: 30px;
}

.quiz__input-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.quiz__input-wrapper input {
    flex-basis: 100%;
    padding: 0.935em;
    color: #B2B2B2;
    border: 1px solid #B2B2B2;
    font-size: var(--_field-fs);
}

.quiz__example-wrapper {
    flex-basis: 100%;
    color: #B2B2B2;
    font-size: var(--_subfield-fs);
}

.quiz__example-wrapper input {
    width: 100%;
    color: #B2B2B2;
    border: 1px solid #B2B2B2;
    font-size: var(--_field-fs);
    margin-bottom: 5px;
}

.quiz__continue-btn {
    font-size: var(--_btn-fs);
    padding: 0.76em 0.9em;
    cursor: pointer;
}

@media screen and (max-width: 1110px) {
    .webform-section {
        --_heading-fs: 32px;
        --_fine-print-fs: 14px;
        --_btn-fs: 16px;
        --_flex-gap: 20px;
        --_btn-width: 308px;
    }
    .accordion-section {
        --_heading-fs: 32px;
        --_svg-size: 16px;
        --_grid-gap: 20px;
        --_item-padding-block: 20px;
        --_img-height: 578px;
    }
    .hauler-banner {
        --_heading-width: 570px;
        --_img-width: 501px;
        --_img-height: 367px;
        --_img-offset-left: 580px;
        --_img-offset-top: -40px;
        --_grid-group-width: 100%;
    }
    .sea-rus-bel-section {
        --_heading-width: 567px;
        --_img-width: 548px;
        --_img-height: 357px;
        --_img-offset-left: 505px;
        --_img-offset-top: -20px;
        --_grid-cols: 2;
    }
    .oversized-cargo-section {
        --_heading-width: 570px;
        --_grid-group-width: 100%;
        --_img-width: 588px;
        --_img-height: 431px;
        --_img-offset-left: 495px;
        --_img-offset-top: -100px;
    }
    .seacargo-section {
        --_heading-width: 562px;
        --_img-width: 588px;
        --_img-height: 287px;
        --_img-offset-left: 562px;
        --_img-offset-top: 30px;
    
        --_flex-group-gap: 10px;
        --_grid-subheading-fs: 22px;
    }
    .turnkey-delivery-section {
        --_heading-width: 570px;
        --_grid-group-width: 100%;
        --_img-width: 493px;
        --_img-height: 362px;
        --_img-offset-left: 555px;
        --_img-offset-top: -60px;
        --_grid-cols: 4;
    }
    .car-banner-section {
        --_banner-margin-top: 60px;
        --_grid-group-margin-block: 78px 100px;
        --_heading-fs: 42px;
        --_subtitle-fs: 24px;
        --_subtitle-width: 594px;
        --_grid-group-fs: 18px;
    }
    .sea-china-section {
        --_heading-width: 560px;
        --_img-width: 588px;
        --_img-height: 349px;
        --_img-offset-left: 505px;
        --_img-offset-top: -110px;
        --_grid-cols: 2;
    }
    .seacargo-section .car-banner__grid-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .webform-section {
        --_heading-fs: 32px;
        --_subheading-fs: 24px;
        --_form-fs: 16px;
        --_fine-print-fs: 12px;
        --_btn-fs: 16px;
        --_flex-gap: 20px;
        --_btn-width: 228px;
    }
    .accordion-section {
        --_heading-fs: 32px;
        --_margin-block: 150px 0;
        --_question-fs: 18px;
        --_answer-fs: 16px;
        --_grid-gap: 100px;
        --_item-padding-block: 20px;
        --_img-width: 100%;
        --_img-height: 200px;

        grid-template-columns: 1fr;
        padding-inline: 0px;
    }

    .accordion {
        padding-inline: 20px;
    }

    .accordion > h2 {
        text-align: start;
    }

    .accordion__img-wrapper {
        display: none;
    }
    .accordion-bg-img__mobile {
        display: block;
    }
    .calculator-section {
        --_tab-fs: 16px;
        --_title-fs: 24px;
        --_field-fs: 16px;
        --_btn-fs: 16px;
        --_subfield-fs: 12px;
        --_margin-bottom: 150px;
        --_flex-gap: 25px;
    }
    .quiz__input-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .quiz__continue-btn {
        width: 100%;
    }
    .quiz__input-wrapper input {
        width: 100%;
    }
    
    .quiz__example-wrapper {
        width: 100%;
    }
    
}

@media screen and (max-width: 780px) {
    .webform-section {
        --_heading-fs: 28px;
        --_subheading-fs: 20px;
        --_form-fs: 16px;
        --_fine-print-fs: 12px;
        --_btn-fs: 16px;
        --_flex-gap: 20px;
        --_btn-width: 100%;
    }
    .contact-webform {
        margin-top: 10px;
        flex-direction: column;
        align-items: stretch;
        padding-block: 10px;
    }
    .hauler-banner {
        --_heading-width: 512px;
        --_grid-group-width: 100%;
        --_img-width: 501px;
        --_img-height: 367px;
        --_img-offset-left: 425px;
        --_img-offset-top: 30px;
    }
    .oversized-cargo-section {
        --_heading-width: 495px;
        --_img-width: 565px;
        --_img-height: 414px;
        --_img-offset-left: 400px;
        --_img-offset-top: -50px;
    }
    .car-banner-section {
        --_banner-margin-top: 30px;
        --_grid-group-margin-block: 150px 110px;
        --_heading-fs: 40px;
        --_subtitle-fs: 24px;
        --_subtitle-width: 474px;
        --_grid-group-fs: 18px;
    }
    .seacargo-section {
        --_heading-width: 516px;
        --_img-width: 565px;
        --_img-height: 293px;
        --_img-offset-left: 468px;
        --_img-offset-top: 50px;
    
        --_flex-group-gap: 5px;
        --_grid-subheading-fs: 20px;
    }
    .sea-rus-bel-section {
        --_heading-width: 504px;
        --_img-width: 489px;
        --_img-height: 305px;
        --_img-offset-left: 430px;
        --_img-offset-top: 125px;
        --_grid-cols: 2;
    }
    .turnkey-delivery-section {
        --_heading-width: 514px;
        --_img-width: 506px;
        --_img-height: 370px;
        --_img-offset-left: 443px;
        --_img-offset-top: -30px;
        --_grid-cols: 4;
    }
    .sea-china-section {
        --_heading-width: 514px;
        --_img-width: 565px;
        --_img-height: 333px;
        --_img-offset-left: 379px;
        --_img-offset-top: 40px;
        --_grid-cols: 2;
    }
    .price-calc-section {
        --_title-fs: 28px;
        --_grid-group-fs: 24px;
    }
}

@media screen and (max-width: 700px) {
    .car-banner-bg {
        position: relative;
        object-fit: cover;
        object-position: left;
    }
    .hauler-banner__grid-group {
        grid-template-columns: 1fr;
    }
    .car-banner__grid-group {
        grid-template-columns: 1fr !important;
    }
    .hb__flex-group {
        flex-direction: row;
    }
    .car-banner__flex-group {
        flex-direction: row;
    }
    .hauler-banner {
        --_heading-width: 100%;
        --_img-width: 361px;
        --_img-height: 265px;
        --_img-offset-left: 60px;
        --_img-offset-top: 0px;
    }
    .oversized-cargo-section {
        --_heading-width: 100%;
        --_img-width: 565px;
        --_img-height: 414px;
        --_img-offset-left: 100px;
        --_img-offset-top: 0;
    }
    .seacargo-section {
        --_heading-width: 100%;
        --_img-width: calc(361px * 1.3);
        --_img-height: calc(185px * 1.3);
        --_img-offset-left: 160px;
        --_img-offset-top: 0px;
    
        --_flex-group-gap: 5px;
        --_grid-subheading-fs: 18px;
    }
    .sea-rus-bel-section {
        --_heading-width: 100%;
        --_img-width: calc(361px * 1.3);
        --_img-height: calc(235px * 1.3);;
        --_img-offset-left: 25vw;
        --_img-offset-top: 0px;
        --_grid-cols: 1;
    }
    .turnkey-delivery-section {
        --_heading-width: 100%;
        --_img-width: 446px;
        --_img-height: 327px;
        --_img-offset-left: 30vw;
        --_img-offset-top: -40px;
        --_grid-cols: 1;
    }
    .sea-china-section {
        --_heading-width: 100%;
        --_img-width: calc(519px * 1.2);
        --_img-height: calc(290px * 1.2);
        --_img-offset-left: 15vw;
        --_img-offset-top: -60px;
        --_grid-cols: 1;
    }
    .car-banner-section {
        --_banner-margin-top: 30px;
        --_grid-group-margin-block: 50px 0px;
        --_heading-fs: 32px;
        --_subtitle-fs: 18px;
        --_subtitle-width: 100%;
        --_grid-group-fs: 18px;
    }
    .seacargo-section .car-banner-bg {
        margin-block: 20px;
    }
    .sea-rus-bel-section .car-banner-bg {
        margin-block: 20px;
    }
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 540px) {
    .webform-section {
        --_heading-fs: 22px;
        --_subheading-fs: 16px;
        --_form-fs: 14px;
        --_fine-print-fs: 12px;
        --_btn-fs: 16px;
    }
    .accordion-section {
        --_heading-fs: 26px;
        --_margin-block: 100px 0px;
        --_heading-margin-bottom: 20px;
    }
    .price-calc-section {
        --_title-fs: 20px;
        --_grid-group-fs: 18px;
        --_col-width: 190px;
        --_title-margin-block: 40px;
    }
    .oversized-cargo-section {
        --_img-width: 361px;
        --_img-height: 265px;
        --_img-offset-left: 80px;
        --_img-offset-top: 0;
    }
    .seacargo-section {
        --_heading-width: 100%;
        --_img-width: 361px;
        --_img-height: 185px;
        --_img-offset-left: 120px;
        --_img-offset-top: 0px;
    
        --_flex-group-gap: 5px;
        --_grid-subheading-fs: 18px;
    }
    .sea-rus-bel-section {
        --_heading-width: 100%;
        --_img-width: 361px;
        --_img-height: 235px;
        --_img-offset-left: 20vw;
        --_img-offset-top: 0px;
        --_grid-cols: 1;
    }
    .sea-china-section {
        --_img-width: 519px;
        --_img-height: 290px;
        --_img-offset-left: 5vw;
        --_img-offset-top: -60px;
    }
    .calculator-section {
        --_tab-fs: 14px;
        --_title-fs: 24px;
        --_field-fs: 14px;
        --_btn-fs: 16px;
        --_subfield-fs: 12px;
        --_margin-bottom: 150px;
        --_flex-gap: 15px;
    }
    .turnkey-delivery-section {
        --_img-offset-left: 15vw;
    }
    .calc__step {
        padding: 0.8em 1.2em;
    }
    .quiz-wrapper {
        padding: 20px;
    }
}

@media screen and (max-width: 360px) {
    .webform-section {
        --_heading-fs: 20px;
        --_subheading-fs: 14px;
        --_form-fs: 14px;
        --_fine-print-fs: 12px;
        --_btn-fs: 16px;
    }
    .accordion-section {
        --_heading-fs: 26px;
        --_margin-block: 70px 0px;
    }
    .hauler-banner {
        --_heading-width: 100%;
        --_img-width: 361px;
        --_img-height: 265px;
        --_img-offset-left: 30px;
        --_img-offset-top: 0px;
    }
    .oversized-cargo-section {
        --_img-offset-left: 20px;
        --_img-offset-top: 0;
    }
    .car-banner-section {
        --_banner-margin-top: 30px;
        --_grid-group-margin-block: 50px 0px;
        --_subtitle-fs: 18px;
        --_subtitle-width: 100%;
        --_grid-group-fs: 18px;
        --_heading-fs: 28px;
    }
    .seacargo-section {
        --_img-width: 364px;
        --_img-height: 177px;
        --_img-offset-left: 20px;
        --_img-offset-top: 0px;
    
        --_flex-group-gap: 5px;
        --_grid-subheading-fs: 18px;
    }
    .sea-rus-bel-section {
        --_img-width: 364px;
        --_img-height: 227px;
        --_img-offset-left: 20px;
        --_img-offset-top: 0px;
    }
    .turnkey-delivery-section {
        --_img-width: 371px;
        --_img-height: 271px;
        --_img-offset-left: 20px;
        --_img-offset-top: 0px;
    }
    .turnkey-delivery-section .car-banner-bg {
        margin-bottom: 40px;
    }
    .sea-china-section {
        --_img-width: 457px;
        --_img-height: 206px;
        --_img-offset-left: 20px;
        --_img-offset-top: -40px;
    }
    .price-calc-section {
        --_title-margin-block: 40px;
        --_title-fs: 20px;
        --_grid-group-fs: 18px;
        --_svg-size: 40px;
    }
    .calculator-section {
        --_tab-fs: 14px;
        --_title-fs: 24px;
        --_field-fs: 14px;
        --_btn-fs: 16px;
        --_subfield-fs: 12px;
        --_margin-bottom: 130px;
        --_flex-gap: 5px;
    }
    .calc__tab-wrapper {
        justify-content: space-between;
    }
    .calc__step {
        padding: 0.6em 0.9em;
    }
}

@media screen and (max-width: 1110px) {
    .header-main {
        --_img-width: 267px;
        --_input-wrapper-width: 550px;
        --_flex-padding: 30px;
    }

    .nav-main {
        display: none;
    }

    .header-small-menu-group {
        display: flex;
    }
    .home-banner__heading {
        width: 100%;
        letter-spacing: normal;
    }
    .home-banner {
        --_heading-fs: 42px;
        --_content-width: 500px;
    }

    .nav-services__ul {
        grid-template-columns: 1fr;
    }
    .footer-primary {
        --_services-li-width: 360px;
        --_flex-padding: 30px;
    }

    .services-section {
        --_padding-block: 100px 130px;
        --_flex-cols: 2;
        --_flex-gaps: 1;
        --_image-space: 30px;
    }
    .serv__find-more-btn {
        width: min(250px, 100%);
    }
    .serv-img {
        left: 280px;
        bottom: 5%;
    }
    .heading-large {
        --_heading-fs: 32px;
    }

    .reviews-section {
        --_margin-bottom: 50px;
    }
    .letters-section {
        --_margin-bottom: 50px;
    }
    .about-us-section {
        --_heading-fs: 32px;
    }    
}

@media screen and (max-width: 900px) {
    .reviews-section {
        --_margin-bottom: 50px;
        --_carousel-margin-bottom: 30px;
        --_btn-fs: 16px;
        --_review-fs: 16px;
        --_gaps: 0;
        --_slides: 1;
    }

    .carousel {
        grid-template-columns: 1fr 1fr;
    }

    .letters-section {
        --_gaps: 2;
        --_slides: 3;
    }

    .about-us-section {
        --_heading-fs: 32px;
        --_svg-size: 40px;
        --_gap: 20px;
        --_subheading-fs: 20px;
        --_text-fs: 16px;
        --_btn-fs: 18px;
        --_svg-mb: 10px;
        --_cols: 4;
        --_gaps: 3;
    }   
    .about-us-section:before {
        clip-path: polygon(71% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

@media screen and (max-width: 780px) {
    .header-main__btn-group {
        display: none;
    }
    .header-main__btn-group-small {
        display: flex;
    }
    .working-hours {
        display: none;
    }
    .banner-img-wrapper {
        display: none;
    }
    .home-banner {
        --_heading-fs: 40px;
        --_content-width: 100%;
        --_font-input-fs: 16px;
        --_input-wrapper-width: 100%;

        grid-template-columns: 1fr 0;
    }
    .home-banner__content {
        padding-right: 20px;
    }
    .home-banner__heading,
    .home-banner__flex-group {
        width: 100%;
    }
    .input-wrapper input {
        width: 100%;
    }
    .banner-bottom__text-wrapper {
        display: none;
    }
    .social-icons-flex-group {
        display: flex !important;
        position: fixed;
        bottom: 20px;
        right: 20px;
        flex-direction: column;
        gap: 10px;
    }
    .footer-primary {
        --_btn-fs: 16px;
        --_padding-block: 40px 50px;
        --_footer-top-margin-bottom: 50px;
        --_flex-padding: 30px;
    }
    .footer-top-flex {
        flex-direction: column;
        align-self: auto;
    }
    .nav-services__ul {
        grid-template-columns: 1fr 1fr;
    }
    .nav-footer__ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer__flex-top-col-1 {
        padding-bottom: var(--_flex-padding);
        padding-right: 0;
        border-bottom: 1px solid #505050;
        border-right: none;
    }

    .footer__flex-top-col-2 {
        padding-block: var(--_flex-padding);
        padding-inline: 0;
    }

    .footer__flex-top-col-3 {
        padding-top: var(--_flex-padding);
        padding-left: 0;
        border-top: 1px solid #505050;
        border-left: none;
    }
    .footer__flex-contacts {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer__social-links {
        margin-bottom: 0;
    }
    .footer-bottom {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .logo-footer-wrapper {
        order: -1;
        width: 100%;
    }

    .services-section {
        --_heading-fs: 21px;
        --_fine-print-fs: 14px;
        --_btn-fs: 16px;
        --_flex-cols: 2;
        --_flex-gaps: 1;
        --_image-space: 82px;
    }

    .serv-img {
        left: 140px;
        bottom: 20%;
    }

    .serv__card.last-card .serv__find-more-btn {
        margin-top: var(--_image-space);
        width: 100%;
    }

    .serv__card.last-card .serv-img {
        right: -40px;
        height: 250px;
        bottom: 0;
    }

    .serv__find-more-btn {
        width: 100%;
    }
    .step-flex-element {
        flex: 1 1 33%;
        max-width: 100%;
    }
    .steps-section {
        --_flex-fs: 18px;
    }
    .heading-large {
        --_heading-fs: 32px;
    }
    .steps-wrapper {
        margin-bottom: 0;
    } 
    .about-us-section {
        --_svg-size: 32px;
        --_gap: 20px;
        --_subheading-fs: 18px;
        --_btn-fs: 16px;
        --_cols: 3;
        --_gaps: 2;
    }   
}

@media screen and (max-width: 600px) {
    .reviews-section {
        --_margin-bottom: 50px;
        --_carousel-margin-bottom: 30px;
        --_btn-fs: 16px;
        --_review-fs: 14px;
        --_gaps: 0;
        --_slides: 1;
    }
    .home-banner {
        --_heading-fs: 32px;
        --_fx-gr-fs: 20px;
        --_form-heading-fs: 20px;
    }
    .carousel {
        grid-template-columns: 1fr;
    }
    .slide-video {
        order: -1;
        height: 235px;
    }
    .letters-section {
        --_margin-bottom: 50px;
        --_gaps: 1;
        --_slides: 2;
    }
    .about-us-section {
        --_heading-fs: 28px;
    }  
    .about-us-section:before {
        clip-path: polygon(80% 3%, 100% 0, 100% 100%, 0 100%, 0 0);
    }  
}

@media screen and (max-width: 540px) {
    .header-main {
        --_top-line-fs: 14px;
    }
    .homepage-link:has(.header-main-logo-small) {
        display: block;
    }
    .homepage-link:has(.header-main-logo) {
        display: none;
    }
    .top-line__email {
        display: none;
    }
    .home-banner {
        --_heading-fs: 28px;
        --_fx-gr-fs: 18px;
    }
    .home-banner__flex-group {
        gap: 15px;
    }
    .home-banner__flex-group img {
        width: 20px;
        height: 20px;
    }
    .input-wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }
    .input-wrapper input {
        max-width: 100%;
    }
    .policy-notice {
        font-size: 10px;
    }
    .footer-primary {
        --_heading-fs: 20px;
        --_btn-fs: 16px;
        --_fine-print-fs: 14px;
        --_padding-block: 30px 50px;
        --_h3-margin-bottom: 20px;
        --_contacts-fs: 20px;
    }
    .nav-footer__ul li a, .nav-services__ul li a {
        font-size: 16px;
    }

    .footer__social-links {
        margin-block: 20px;
    }
    .footer__flex-contacts {
        flex-direction: column;
    }
    .footer__calc-btn {
        width: 100%;
    }
    .footer__privacy-policy {
        order: -1;
    }

    .services-section {
        --_padding-block: 60px 130px;
        --_flex-gap: 20px;
        --_heading-fs: 22px;
        --_fine-print-fs: 16px;
        --_btn-fs: 18px;
        --_card-padding: 20px;
        --_flex-cols: 2;
        --_flex-gaps: 1;
        --_image-space: 82px;
    }
    .serv-img {
        left: 45vw;
        bottom: 22%;
        height: 120px;
    }

    .serv__card.last-card .serv__find-more-btn {
        margin-top: var(--_image-space);
        width: 100%;
    }

    .serv__card.last-card .serv-img {
        right: -40px;
        height: 200px;
        bottom: 0;
    }

    .serv__find-more-btn {
        width: 100%;
    }

    .serv__flex-group {
        flex-direction: column;
    }
    
    .serv__card {
        width: 100%;
    }

    .step-flex-element {
        flex: 1 1 48%;
        max-width: 48%;
    }
    .steps-section {
        --_svg-size: 32px;
        --_flex-height: 62px;
    }
    .heading-large {
        --_heading-fs: 28px;
    }
    .step-flex-element {
        padding-left: 10px;
        margin-bottom: 40px;
    }
    .carousel-link {
        padding-inline: 10px;
    }
    .about-us-section {
        --_heading-fs: 28px;
        --_gap: 10px;
        --_subheading-fs: 18px;
        --_text-fs: 14px;
        --_btn-fs: 16px;
        --_svg-mb: 10px;
        --_cols: 2;
        --_gaps: 1;

        padding-bottom: 80px;
    }    
}

@media screen and (max-width: 360px) {
    .home-banner__content {
        padding-inline: 15px;
    }
    .home-banner__flex-group img {
        width: 15px;
        height: 15px;
    }
    .nav-services__ul {
        grid-template-columns: 1fr;
    }
    .serv-img {
        left: 170px;
        bottom: 26%;
        height: 110px;
    }
    .serv__card.last-card .serv-img {
        right: -40px;
        height: 150px;
        bottom: 20px;
    }
    .steps-section {
        --_heading-fs: 26px;
        --_margin-bottom: 40px;
        --_svg-size: 28px;
        --_flex-fs: 18px;
        --_flex-height: 50px;
    }
    .step-flex-element {
        margin-bottom: 30px;
    }
    .reviews-section {
        --_heading-fs: 26px;
    }
    .letters-section {
        --_gaps: 0;
        --_slides: 1;
    }
    .carousel-link {
        display: none;
    }
    .about-us-section {
        --_heading-fs: 26px;
        --_svg-size: 28px;
        --_flex-margin-block: 40px;
        --_gap: 10px;
        --_subheading-fs: 18px;
        --_text-fs: 14px;
        --_btn-fs: 16px;
        --_svg-mb: 10px;
        --_cols: 2;
        --_gaps: 1;
    }    
}
